@import 'fonts';
@import 'variables';
@import '../../../node_modules/kickstand-ui/src/scss/styles.scss';

html {
    overflow-x: hidden;
}

html,
body {
    width: 100%;
    height: 100%;
    @include bg-color(light, lighter);
}

.app {
    width: 100%;
    height: 100%;

    a {
        @include color(primary, lighter);
    }

    main {
        width: 100%;
        max-width: 100%;
        @include p(lg);
        @include mx(auto);

        .content-wrapper {
            max-width: 1240px;
            @include mx(auto);
        }

        .ks-button .button.solid a {
            color: white;
            text-decoration: none;
        }
    }
}
