@import 'variables';
@import '../../../node_modules/kickstand-ui/src/scss/styles.scss';

html,
body {
    width: 100%;
    height: 100%;
}

.app {
    // @include px(lg);
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;


    main {
    }

    .page-header,
    main,
    .page-footer {
        flex-shrink: 0;
    }

    main {
        width: 100%;
        max-width: 100%;
        flex-grow: 1;
        @include p(lg);
        @include mx(auto);

        .content-wrapper {
            max-width: 1240px;
            @include mx(auto);
        }
    }
}
